<!DOCTYPE html>
<html>
<head>
  <title>Stateful</title>
  <%= stylesheet_link_tag    "stateful/application", media: "all" %>
  <%= javascript_include_tag "stateful/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
